.wrapper{
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    background: rgb(172, 76, 184);
    display: flex;
    justify-content: center;
}

/* tbody > tr:nth-child(even) {
    background-color: rgb(197, 25, 25);
  } */
  
  table {
    font-size: 30px; /* Установите нужный размер шрифта */
}

table {
    border: 4px solid #ae2020;
    border-spacing: 0;
   width: 500px;
   height: 400px;
   margin-top: 30px;
   background-color: azure;   
}

.fizika-ellow {
    background-color: yellow;
}


td, th {
    border: 4px solid #d84444;
}
th {
    background-color: aqua;
    height: 95px;
}


